{{ define "head_insert" }}
<script src="https://maps.google.com/maps/api/js"></script>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
<script src="/static/leaflet/leaflet.js"></script>
<script src="/static/get_places/get_places.js"></script>
{{ end }}

{{ define "content" }}

<div class="container">

<br>

<h2>Create a new game</h2>

<br>

<form action="/found_points" method="post">
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
			      <div class="input-group-text">Nickname</div>
			</div>
			<input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname" required pattern=".{1,}"/>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
			      <div class="input-group-text">Number of rounds</div>
			</div>
			<input type="number" class="form-control" id="rounds" name="rounds" value="5" onchange="numberOfRoundsUpdated()"/>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
			      <div class="input-group-text">Time (minutes:seconds)</div>
			</div>
			<input type="text" pattern="[0-9]+:[0-5][0-9]" class="form-control mr-sm-3" id="time" name="time" placeholder="05:00"/>
			<small class="form-text text-muted">
				Leave empty for no timer
			</small>
		</div>
	</div>

	<div class="card border-info">
		<script>
			// This script hides and unhides advanced settings.
			function hideOrUnhideAdvancedSettings() {
				let advancedSettings = document.getElementById('advanced-settings');
				if (advancedSettings.hasAttribute("hidden")) {
					advancedSettings.removeAttribute("hidden");
				} else {
					advancedSettings.setAttribute("hidden", "hidden");
				}
				previewMap.invalidateSize();
			}
		</script>
		<div class="card-header">
			<button class="btn btn-info" type="button" onclick="hideOrUnhideAdvancedSettings()">
				Show advanced settings
			</button>
		</div>

		<div class="card-body" id="advanced-settings" hidden="true">
			<div class="form-group">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="show-labels" name="show-labels" checked>
					<label class="form-check-label" for="label">Show labels on map</label>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
					      <div class="input-group-text">Panorama conntectedness</div>
					</div>
					<select class="form-control" id="connectedOnly" name="connectedOnly" onchange="connectedOnlyUpdated()">
						<option>any</option>
						<option>always</option>
						<option>never</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
					      <div class="input-group-text">Location string </div>
					</div>
					<input type="text" class="form-control mr-sm-3" id="locString" name="locString" placeholder="Location" onchange="locStringUpdated()"/>
					<small class="form-text text-muted">
						Country, state, city, neighborhood, lake, or any other bounded area
					</small>
				</div>
				<div class="card bg-danger text-white mt-1" id="error-dialog" hidden>
					<p class="card-text">Sorry, that does not seem like a valid bounding box on OSM Nominatim.</p>
				</div>
			</div>
			<div id="bounds-map" style="width: 80%; height: 50vh; margin-left: 10%; margin-right: 10%;"></div>
		</div>
	</div>

	<br/>
	
	<div class="progress">
		<div class="progress-bar" id="loading-progress" role="progressbar"></div>
	</div>
	<small class="text-muted">
	Earthwalker is getting random locations from Google Street View.
	This happens in your browser, because there is only an API in JavaScript for this.
	Yes, that is kind of silly, I'm sorry.
	</small>

	<input id="hidden-input" type="hidden" name="result" value=""/>

	<button id="submit-button" type="submit" class="btn btn-primary" disabled>Start game</button>

</form>
<link rel="stylesheet" href="static/leaflet/leaflet.css"/>
</div>

{{ end }}
